<%= render 'shared/body_nav' %>

<section>
	<header>
		<h2 class="section-title">
			Bienvenue sur Versions des faits...
		</h2>
	</header>

	<p>...le site qui diss&egrave;que les docus qui font le buzz, pour dissocier l'opinion de l'information.</p>

	<p>Plus d'infos <%= link_to 'par ici', controller: 'vdf', action: 'about' %>.</p>
</section>

<section>
	<header>
		<h2 class="section-title">
			Ouverture imminente
		</h2>
	</header>

	<p>Le site pr&eacute;pare encore son entr&eacute;e. Nous &eacute;toffons un peu notre contenu avant d'ouvrir nos portes au public.</p>

	<p>Vous pouvez cependant <%= link_to 'vous inscrire', controller: 'devise/registrations', action: 'new' %> et nous vous tiendrons inform&eacute; de l'ouverture.</p>
</section>

<section>
	<header>
		<h2 class="section-title">
			Rejoignez-nous&nbsp;!
		</h2>
	</header>
	<p>En attendant l'ouverture, nous sommes &agrave; la recherche de contributeurs. Si vous avez l'esprit critique, la passion de l'information et le go&ucirc;t du d&eacute;bat raisonnable et respectueux, votre aide nous sera pr&eacute;cieuse.</p>
	
	<p>Envoyez-nous un mail &agrave; l'adresse suivante en joignant un exemple d'analyse critique de documentaire de votre cru (article de blog, publication, cr&eacute;ation perso non-publi&eacute;e...)&nbsp;: <a href="mailto:admin@versionsdesfaits.com">admin@versionsdesfaits.com</a></p>
</section>

