<nav class="body-nav">
  <h2 class="page-title"><a href="#">VDF</a></h2>
</nav>

<section>
	<header>
		<h2 class="section-title">
			Bienvenue sur Versions-Des-Faits
		</h2>
	</header>
	<p>On diss&egrave;que les docus qui font le buzz pour dissocier l'opinion de l'information.</p>
</section>
