<%= render 'shared/body_nav' %>

<section>
	<header>
		<h2 class="section-title">
			Bienvenue sur Versions des faits
		</h2>
	</header>
	<p>On diss&egrave;que les docus qui font le buzz pour dissocier l'opinion de l'information.</p>
</section>
