<p>L'objectif de ce site est d'offrir une information et une exp&eacute;rience de qualit&eacute; &agrave; ceux qui le consultent.</p>

<p>Ce n'est pas une tribune d'expression libre d'opinions personnelles ou de th&eacute;ories marginales. Si vous n'avez pas aim&eacute; un documentaire, ou si votre oncle a une th&eacute;orie int&eacute;ressante sur le sujet qui y est trait&eacute;, cela ne constitue pas une contribution int&eacute;ressante pour ce site.</p>

<p>En revanche, nous vous serons tr&egrave;s reconnaissant de votre contribution si vous pouvez&nbsp;:</p>
<ul>
	<li>rectifier fiablement une affirmation ou un exemple abusif</li>
	<li>r&eacute;v&eacute;ler une interpr&eacute;tation r&eacute;pandue ou notoire, mais ignor&eacute; ou d&eacute;form&eacute; par le documentaire</li>
</ul>

<p>Toute contribution ou modification sera soumise &agrave; validation par un &eacute;diteur avant publication.</p>

<p>Aucune publication n'est garantie &agrave; vie. Un &eacute;diteur peut repasser en mode brouillon une contribution obsol&egrave;te ou ne r&eacute;pondant plus aux exigences du site.</p>

<p>Pour &ecirc;tre valid&eacute;e, toute contribution doit obligatoirement &ecirc;tre&nbsp;:</p>
<ul>
	<li>respectueuse&nbsp;:</li>
		<ul>
			<li>pas d'insulte</li>
			<li>pas de d&eacute;signation p&eacute;jorative (e.g. "complotiste", "parano&iuml;aque", "crypto-communiste", "ultra-lib&eacute;ral"...)</li>
			<li>pas de d'&eacute;loge</li>
		</ul>
	<li>neutre&nbsp;:</li>
		<ul>
			<li>pas de jugement de valeur</li>
			<li>pas de proc&egrave;s d'intention</li>
		</ul>
	<li>concise&nbsp;:</li>
		<ul>
			<li>aucun mot qui ne soit indispensable &agrave; la compr&eacute;hension du message</li>
		</ul>
	<li>s&eacute;rieuse:</li>
		<ul>
			<li>pas de blague</li>
			<li>pas de smiley</li>
			<li>orthographe et grammaire fran&ccedil;aises impeccables</li>
		</ul>
</ul>

<p>Les contributions &agrave; la checklist, en particulier, doivent &ecirc;tre&nbsp;:</p>
<ul>
	<li>tamponn&eacute;e&nbsp;</li>
		<ul>
			<li>pas de ligne de checklist sans tampon</li>
			<li>le tampon doit bien correspondre &agrave; la remarque</li>
		</ul>
	<li>sourc&eacute;e&nbsp;:</li>
		<ul>
			<li>seule exception si le documentaire lui-m&ecirc;me est une source suffisante.</li>
		</ul>
</ul>

<p>Les sources de la checklist, ainsi que les opinions et critiques relay&eacute;es, n'ont pas n&eacute;cessairement vocation &agrave; &ecirc;tre neutres. En revanche, seront privil&eacute;gi&eacute;es celles qui&nbsp;:</p>
<ul>
	<li>d&eacute;veloppent leurs arguments et citent leurs propres sources</li>
	<li>restent mod&eacute;r&eacute;es dans leurs propos et jugements</li>
	<li>jouissent d'une certaine notori&eacute;t&eacute;</li>
</ul>

<p>Les alternatives, quant &agrave; elles, doivent &ecirc;tre retenues sur leur neutralit&eacute; et leur valeur p&eacute;dagogique.</p>

<p>Nous faisons aussi notre possible pour respecter nos contributeurs&nbsp;:</p>
	<ul>
		<li>Vous seul pourrez modifier vos contributions de checklist, de critique ou d'alternative.</li>
		<li>Tout est fait pour que les &eacute;diteurs puissent vous informer facilement de la raison pour laquelle votre contribution n'a pas &eacute;t&eacute; valid&eacute;e
		<li>Un &eacute;diteur pourra seulement les supprimer, et uniquement s'ils ont un caract&egrave; abusif (spam, flood, insulte, HS...).</li>
	</ul>
