#= require jquery.wysiwyg
#= require file-input-drop-zone

$ ->
  # Insert handler for nested_form's add-nested-fields
  window.nestedFormEvents.insertFields = (content, assoc, link) ->
    $ul = $(link).closest('div').prevAll('ul')
    $(content).appendTo($ul)

  # Drag'n'drop and preview update for the poster
  $('.poster').fileInputDropZone()
  # Hide preview if remove poster is checked
  $('.poster :checkbox').change ->
    $('.poster img').toggle()
  # Unchecks remove and shows preview if image is changed
  $('.poster :file').change ->
    $('.poster :checkbox').prop('checked', false)
    $('.poster img').show()

  # Stamps preview
  stamps = <%= Hash[ Stamp.all.map { |s| [ s.id, s ] } ].to_json %>
  updateStamp = ->
    $s = $(@)
    $img = $s.closest('.remark').find('.picto img')
    stamp = stamps[ $s.val() ]
    $img.prop('src', '<%= Rails.application.config.assets.prefix %>/'+stamp.name + '.png')
    $img.prop('alt', stamp.title)
    $img.data('longdesc', stamp.description)
  $('.remark select').each   updateStamp
  $('.remark select').change updateStamp

  # Summary RTE init
  $('.summary textarea').each ->
    $t = $(@)
    defaultValue = '<p>'+$t.prop('placeholder')+'</p>'
    $t.wysiwyg
      rmUnusedControls: true
      brIE: false
      rmUnwantedBr: true
      initialContent: defaultValue
      css: '<%= asset_path 'wysiwyg.css' %>'
      controls:
        bold: { visible : true }
        italic: { visible : true }
        html: { visible : true }
        insertUnorderedList: { visible : true }
        insertOrderedList: { visible : true }
        removeFormat: { visible : true }
        # FIXME Emulates placeholder behaviour on RTE
        #events:
        #  focus: -> $this.wysiwyg('clear') if ($this = $(this)).wysiwyg('getContent') == defaultValue
        #  blur: -> $this.wysiwyg('setContent', defaultValue) if ($this = $(this)).wysiwyg('getContent') in ['', '<p></p>']
  $('div.wysiwyg').css('width', '').find('iframe').css('width', '')

