/* ===== TYPOGRAPHY ===== */

/* Titles */

@font-face {
	font: {
		family: 'Stardos Stencil';
		weight: normal;
		style: normal;
	}
	src: asset-url('stardosstencil-regular-webfont.eot', font);
	src: asset-url('stardosstencil-regular-webfont.eot?#iefix', font) format('embedded-opentype'),
		asset-url('stardosstencil-regular-webfont.woff', font) format('woff'),
		asset-url('stardosstencil-regular-webfont.ttf', font) format('truetype'),
		asset-url('stardosstencil-regular-webfont.svg#StardosStencilRegular', font) format('svg');
}
@font-face {
	font: {
		family: 'Stardos Stencil Bold';
		weight: bold;
		style: normal;
	}
	src: asset-url('stardosstencil-bold-webfont.eot', font);
	src: asset-url('stardosstencil-bold-webfont.eot?#iefix', font) format('embedded-opentype'),
		asset-url('stardosstencil-bold-webfont.woff', font) format('woff'),
		asset-url('stardosstencil-bold-webfont.ttf', font) format('truetype'),
		asset-url('stardosstencil-bold-webfont.svg#StardosStencilBold', font) format('svg');
}



h1 {
	text-transform: uppercase;
	font-size: 4em;
	font-family: 'Stardos Stencil', Helvetica, Arial, sans-serif;
	margin-bottom: 0.1em;
}
h2 { font-size: 1.2em; font-family: "Heiti TC Light", Helvetica, Verdana, sans-serif; }
h3 { font-weight: bold; font-size: 1em; font-family: "Heiti TC Light", Helvetica, Verdana, sans-serif; }
h3 {
	padding-bottom: 0.5em;
	margin-top: 1em;
	border-bottom: 1px solid black;
}
h4 { margin-bottom: 0.5em; }

/* General text */
/* body { font-family: 'Heiti TC Light', Helvetica, Verdana, sans-serif; }*/
body { font-family: Helvetica, Arial, sans-serif; line-height: 1.5; }
p, ul, ol { margin: 1em 0; }
ul, ol { margin-top: 0.5em; margin-bottom: 0.5em; }
.text-unit ul, .text-unit ol { list-style: disc outside; margin-left: 2em; }
.text-unit ol ol, .text-unit ol ul, .text-unit ul ol, .text-unit ul ul { list-style: circle outside; margin-left: 2em; }

/* Quotes (adapted from type-a-file.com Editorial theme */

blockquote { display: inline-block; font-style: italic; font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2",Georgia,serif; }
blockquote:before { font-family: Monaco,Consolas,"Lucida Console",monospace; content:"“"; font-size: 2.1em; font-style: normal; text-indent: -0.75em; float: left; opacity:0.3; line-height: 1.25; }
cite { display: block; text-transform: uppercase; letter-spacing: 0.2em; margin-top: 0.75em; font-weight: 900; font-style: normal; font-size: 0.85em; }
cite:before { content: "—"; margin-left: -1.75em; margin-right: 0.5em; opacity: 0.3; }




/* ===== COMMON ===== */

/* Links */
a {
	color: black;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.new, .director a, .tag-list a, .link-list h4 a, .remove_nested_fields, .add_nested_fields {
	display: inline-block;
	margin-bottom: 0.5em;
	padding: 0.25em;
	border: 1px solid black;
	text-align: center;
	background-color: #0F171D;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 0.9em;
	line-height: 1;
}
.new:hover, .director a:hover, .tag-list a:hover, .link-list h4 a:hover, .remove_nested_fields:hover, .add_nested_fields:hover {
	border-color: white;
	background-color: #353535;
	box-shadow: 0 0 0.5em black;
	text-decoration: underline;
}


/* Background colors */
nav, .title, .title:after, h2.section-title, footer.page-footer {
	background-color: #0F171D;
	color: white;
}


/* Navigation */
nav ul { display: list-item; list-style: none; }
nav li { float: left; text-align: center; } 
nav a {
	border-color: transparent;
	background-color: inherit;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
}
nav a:hover {
	box-shadow: none;
	border-color: transparent;
	background-color: inherit;
	text-decoration: underline;
}

/* Section */
section {
	clear: both;
}

/* Forms */
input, textarea, select {
	-webkit-border-radius: 3px; /* Safe list of prefixes from CSS3 Please */
	border-radius: 3px;
	border-color: #CCC;
	border-width: 1px;
}

/* ===== LAYOUT ===== */


/* Header Title */
.title {
	position: relative;
	margin-top: 4em; margin-bottom: 2em;
	padding: 3em 0;
	width: 100%;
	border-style: dashed;
	border-color: white;
	border-width: 1px 0;
	text-align: center;
	line-height: 1;
}

.title:before {
	content: '';
	position: absolute;
	top: -2em; bottom: -2em; left: 0;
	width: 100%;
	border-left: 0; border-right: 0;
	background: white;
	z-index: 5;
}
.title:after {
	content: '';
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 100%;
	border-style: dashed;
	border-color: white;
	border-width: 1px 0;
	border-left: 0; border-right: 0;
	z-index: 10;
}
.title h1, .title h2 {
	color: white;
	position: relative;
	text-shadow: 2.5px 2.5px black;
	z-index: 50;
}



/* Header Nav */
.site-nav {
	position: absolute;
	right: 0; top: 0.75em;
	padding: 0.5em 0.5em;
	border: 1px solid white;
	border-right: 0;
	z-index: 50;
	-webkit-border-radius: 2em 0 0 2em; /* Safe list of prefixes from CSS3 Please */
	border-radius: 2em 0 0 2em;
}
.site-nav ul, .site-nav li {
	/* reset styles généraux ul */
	margin-top: 0;
	margin-bottom: 0;
}
.site-nav li {
	width: 6.5em;
}


/* Authentification section */
.auth-bar {
	position: absolute;
	left: 0; top: 0;
	padding: 0 1em;
	font-size: 90%;
	line-height: 2em;

	.login a {
		text-decoration: none;
	}
	.login a:hover {
		text-decoration: underline;
	}
}

/* Flash and error notices */
.notice, .error, .errorExplanation {
	margin: 0.5em 0;
	padding: 0 0.5em;
	border: 1px solid;
}
.notice {
	border-color: green;
	background-color: #8EEE70;
}
.error, .errorExplanation {
	border-color: red;
	background-color: #FF5533;
}
.field_with_errors {
	input, textarea, textarea {
		border-width: 2px;
		border-color: #FF5533;
	}
}

/* Body nav */
.body-nav {
	margin-bottom: 1em;
	overflow: hidden;
	height: 2em;
	padding-left: 1em;
}
.body-nav .page-title {
	float: left;
	display: block;
	padding: 0; margin: 0;
	line-height: 2em;
	font-size: 1em;
	font-weight: bold;
}
.body-nav .short-name {
	text-transform: capitalize;
}
.body-nav ul {
	/* margin top et bottom à 0 pour reset styles généraux ul */
	margin: 0 0 0;
	overflow: hidden;
	float: right;
	line-height: 1.75em;
}
.body-nav li {
	padding: 0 0.5em;
	margin: 1px;
	border: 1px solid transparent;
}
.body-nav li.active {
	border-color: white;
}
.body-nav a {
	color: white;
	padding: 0;
	border: 0;
}
.fixed-nav {
	position: fixed;
	top: 0; left: 0; right: 0;
	/*padding: 0 1em;*/
	margin: 0;
	z-index: 100;
}



/* Body */
section.body { 
	position: relative;
	width: 100%;
	min-height: 100%;
	max-width: 960px;
	padding-bottom: 2em;
	margin: auto;
	box-shadow: -1em 0 1em -1em black, 1em 0 1em -1em black;
}
section.body section { 
	padding-left: 2em;
	padding-right: 2em;
}

/* Body sections */
.section-title { 
	margin-top: 2em; margin-bottom: 1em;
	padding-left: 1em; padding-right: 1em;
	line-height: 1.5em;
}



/* Footer */
footer {
	clear: both;
}
.page-footer {
	padding: 2em 2em;
	text-align: center;
}




/* ===== DECORATION ===== */

.light-spot, .title, .title:after {
	/*opacity: 0.9; filter: alpha(opacity=90); /* fallback for non-supporting browsers - Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ ; IE6-IE8 */
	background-image: -webkit-radial-gradient(circle closest-corner, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
	background-image: -moz-radial-gradient(circle closest-corner, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
	background-image: -ms-radial-gradient(circle closest-corner, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
	background-image: -o-radial-gradient(circle closest-corner, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
	background-image: radial-gradient(circle closest-corner, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
}

.close, .title, .title:before, .title:after, nav {
	-webkit-box-shadow: 0 0 1em black;
	-moz-box-shadow: 0 0 1em black;
	box-shadow: 0 0 1em black;
}

.title h1, .title h2, .site-nav, .site-nav li, .site-nav a {
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear;
}

/* jQuery Simpletip */
.tooltip {
	position: absolute;
	border: 1px solid black;
	padding: 1em;
	background-color: white;
	z-index: 75;
	-webkit-border-radius: 1em; /* Safe list of prefixes from CSS3 Please */
	border-radius: 1em;
	opacity: 0.9;
}
.tooltip h3 {
	border: none;
	font-weight: bold;
	padding: 0;
	margin: 0 0 0.5em 0;
}
.tooltip p {
	padding: 0!important;
	margin: 0!important;
}



/* ===== IE Hacks ===== */

/* No pseudo-elements */
.no-generatedcontent {
	.site-nav {
		@extend .auth-bar;
		left: auto;
		right: 0;
		padding: 0 0.5em;
		display: inline-block;
		border-color: transparent;

		li {
			width: auto;
			padding: 0 0.5em;
		}
	}
	.auth-bar {
		color: white;
		border-color: transparent;
		a {
			background-color: #0F171D;
			color: white;
		}
	}
	.title {
		position: static;
		margin: 0;
		width: 100%;
	}
}

.no-boxshadow {
	section.body, .title:before, .title:after {
		border: 2px solid #333;
		border-bottom-color: transparent;
	}
}
.no-boxshadow .title:before {
	border-style: solid;
	border-color: black;
	border-width: 1px 0;
}



/* ===== MEDIA ===== */

/* Title */
@media only screen  
and (max-width : 550px) {
/* Old value : 415px, raised because of auth-bar */
	.title h1 {
		font-size: 2em;
		margin: 0.25em 0;
	}
	.title h2 { font-size: 1em; }
	.title { 
		padding: 0.5em 0;
		margin: 0;
	}
	.title:before { content: none; }
	.title:after { content: none; }
	.site-nav {
		position: static;
		padding: 0;
		-webkit-border-radius: 0; /* Safe list of prefixes from CSS3 Please */
		border-radius: 0;
		text-align: right;
		
		li {
			float: none;
			display: inline-block;
			width: auto;
			margin: auto;
		}
		
		a {
			float: none;
			display: inline-block;
			font-size: 90%;
			width: auto;
		}
	}

	.auth-bar {
		position: static;
		float: left;
		left: auto; top: auto;
		padding: 0 0.1em;
		font-size: 90%;
		line-height: 1.75;
		color: white;

		a {
			font-size: 90%;
			color: white;
		}
	}
}

@media only screen  
and (max-width : 600px) {
	.auth-bar .login {
		display: none;
	}
}

/* Body */
@media only screen  
and (max-width : 768px) {
	h3 { padding-left: 0.5em; }
	section.body section { 
		padding-left: 0;
		padding-right: 0;
	}
}




