<% unless checklist.blank? %>
<section id="checklist">
	<header>
		<h2 class="section-title">
			Examiner : Sa version à l'épreuve des faits
		</h2>
	</header>
	<ul class="checks">

		<% checklist.each do |check| %>
			<%= render 'check', check: check %>
		<% end %>

	</ul>
</section>
<% end %>
