<section id="checklist">
	<header>
		<h2 class="section-title">
			Examiner : Sa version à l'épreuve des faits
		</h2>
	</header>
	<ul class="checks">

		<%=	doc.fields_for :checks, wrapper: false do |check|
				render 'check_fields', check: check
			end %>
	</ul>
	<div class="btn-bar">
		<%= doc.link_to_add "Ajouter une remarque", :checks %>
	</div>

</section>

