<% unless (reviews = @doc.reviews).blank? %>
<section id="reviews">
	<header>
		<h2 class="section-title">
			Elargir : Versions divergentes
		</h2>
	</header>
	<ul class="link-list">
		
		<% reviews.each do |link| %> 
		<li>
			<h4><%= link_to link.title, link.url %></h4>
			<div class="text-unit">
				<p><%= link.description %></p>
			</div>
		</li>
		<% end %>

	</ul>
</section>
<% end %>