<% unless themes.blank? %>
<section id="options">
	<header>
		<h2 class="section-title">
			Approfondir : M&ecirc;mes sujets, autres approches
		</h2>
	</header>
	<ul>
		<% themes.each do |cat| %>
			<li>
				<h3><%= cat.name %></h3>
				<ul class="link-list">

					<% cat.links.each do |link| %>
						<li class="link">
							<h4><%= link_to link.title, link.url %></h4>
							<div class="text-unit">
								<p><%= link.description %></p>
							</div>
						</li>
					<% end %>

				</ul>
			</li>
		<% end %>

	</ul>
</section>
<% end %>