<% unless themes.blank? %>
<section id="options">
	<header>
		<h2 class="section-title">
			Approfondir : M&ecirc;mes sujets, autres approches
		</h2>
	</header>
	<ul>
		<% themes.each do |theme| %>
			<li>
				<h3><%= theme.name %></h3>
				<ul class="link-list">

					<% theme.options.each do |option| %>
						<li class="link">
							<h4><%= link_to option.title, option.url %></h4>
							<div class="text-unit">
								<p><%= option.description %></p>
							</div>
						</li>
					<% end %>

				</ul>
			</li>
		<% end %>

	</ul>
</section>
<% end %>