<% unless (options = @doc.links_by_category).blank? %>
<section id="options">
	<header>
		<h2 class="section-title">
			Approfondir : M&ecirc;mes sujets, autres approches
		</h2>
	</header>
	<ul>
		<% options.each do |category, links| %>
			<li>
				<h3><%= category %></h3>
				<ul class="link-list">

					<% links.each do |link| %>
						<li>
							<h4><%= link_to link.title, link.url %></h4>
							<div class="text-unit">
								<p><%= link.description %></p>
							</div>
						</li>
					<% end %>

				</ul>
			</li>
		<% end %>

	</ul>
</section>
<% end %>