<section id="reviews">
	<header>
		<h2 class="section-title">
			Elargir : Versions divergentes
		</h2>
	</header>
	<ul class="link-list">
		
		<%=	doc.fields_for :reviews, wrapper: false do |r|
				render 'review_fields', review: r
			end %>
		<li class="buttons-footer">
			<%= doc.link_to_add "Ajouter un lien", :reviews %>
		</li>
	</ul>
</section>
