<% unless reviews.blank? %>
<section id="reviews">
	<header>
		<h2 class="section-title">
			Elargir : Versions divergentes
		</h2>
	</header>
	<ul class="link-list">

		<% reviews.each do |review| %>
			<%= render 'review', review: review %>
		<% end %>

	</ul>
</section>
<% end %>