<li class="link fields">
	<%= review.link_to_remove "X" %>
	<h4>
		<%= review.text_field :title, placeholder: "Titre du lien" %>
		<%= review.text_field :url, placeholder: "URL" %>
	</h4>
	<div class="text-unit">
		<div class="description"><%= review.text_area :description, placeholder: "Description", rows: 5 %></div>
	</div>
</li>