  <ul class="social-bar">
    <li><a class="facebook" href="http://www.facebook.com/versionsdesfaits">Facebook</a></li>
    <li><a class="twitter" href="http://www.twitter.com/">Twitter</a></li>
  </ul>
